<%# １つのアイテム情報 %>


<%#= アイテムの画像 %>
<p>
<%= link_to item_path(item.id) do %>
<%= image_tag item.image.variant(resize: '20%x20%') if item.image.attached? %>
<% end %>
</p>

<%#= アイテムの名前，カテゴリー，出品者 %>
<h2><%= item.name %></h2>
<%= "( #{item.category.name} )" %>
<%= "<by #{item.user.nickname}さん>" %>