<%# ш│╝хЕеуГЪуГ╝уВ╕ %>
<div class="top-image">
  <div class="top-header">
    <%# уГбуГЛуГеуГ╝ %>
    <%= render "shared/menu" %>
  </div>

  <div class="accordion-category-item">
    <br/>
    <h3>уВвуВдуГЖуГаф║дцПЫуГЪуГ╝уВ╕ЁЯШДЁЯОБЁЯШД</h3>
    <p><%= "#{@item.user.nickname}уБХуВУуБохЗ║хУБ" %></p>

    <%  if @item.image.attached? %>
      <%= image_tag @item.image, class: "one-item"%>
    <% end %>
    <br/>
    <div class="item-page">
      [уВвуВдуГЖуГахРН]      <%= @item.name %><br>
      [уВлуГЖуВ┤уГкуГ╝]      <%= @item.category.name %><br>
      [уВвуВдуГЖуГауБошкмцШО]   <%= @item.item_text %><br>
      [ф║дцПЫцЦ╣ц│Х]        <%= @item.price %><br/>
      [ф║дцПЫха┤цЙА]        <%#= @item.change %><br/>
      ф║дцПЫуБлуБдуБДуБж

    <div><br/>
  </div>
</div>