<div class="top-search-image">
  <div class="top-header">

    <%= render "shared/menu" %>
  </div>
  <div class="accordion-category-search">
    <br/><h3>сѓбсѓцсЃєсЃасѓњТјбсЂЎ­ЪјЂ</h3>


    <%# Тцюу┤бсЃЋсѓЕсЃ╝сЃа %>
    <%= form_with(url: search_items_path, local:true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "№╝ѕсѓбсѓцсЃєсЃатљЇ№╝Ѕ", class: "search-placeholder" %>
      <%= form.submit "сЂЋсЂїсЂЎ", class: "search-btn" %>
    <% end %>

  
    <% @items.reverse_each do |item| %>
      <div class="item-list">
        <%= render partial: "shared/item", locals: { item: item } %>
      </div>
    <% end %>
  </div>
</div>