<div class="top-image">
  <div class="top-header">

    <%= render "shared/menu" %>

    <br/><br/><div class="title2">アイテムを探す</div>


    <%# 検索フォーム %>
    <%= form_with(url: search_items_path, local:true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "アイテム名でさがす", class: "login-btn" %>
      <%= form.submit "さがす", class: "login-btn" %>
    <% end %>
  </div>

  
    <% @items.reverse_each do |item| %>
      <div class="item-list">
        <%= render partial: "shared/item", locals: { item: item } %>
      </div>
    <% end %>
</div>

<div class="second-top-image">
</div>